* {
	margin:0;
	padding: 0;
}

body {
	background-color:#008080;
	color:#fff;
	position: relative;
	padding-bottom: 5em;
	min-height: 100vh;
	text-align: center;
}
}

header, section, footer {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

header {
	background:#2f4f4f;
}
h1 {
	font-size: 50px;
	text-align: center;
	line-height: 150px;
}

header nav {
	background:#808080;
	overflow:hidden;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	padding: 10px 20px;
	display: block;
	color:#fff;
	text-decoration: none;
}
header nav ul li a:hover {
	background: #000;
}

articles article {
	width: 70%;
	float: left ;
	padding: 10px;
	text-align: center;
	margin-right : 10px;
}

article {
	padding: 20px;
	background:#000;
}

aside {
	width: 25%;
	background:#000080;
	padding: 10px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	text-align: center;
}

.footer {
	background-color:#000;
	color:#fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1em 0;
	text-align: center;
	margin-top: auto;
}

img {
	margin-right: 10px;
	margin-top: 10px;
}